<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="TransporteDRContext" connectionString="metadata=res://*/Models.TransporteDRModel.csdl|res://*/Models.TransporteDRModel.ssdl|res://*/Models.TransporteDRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\VNAJ_db01;initial catalog=dbTransporteDR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>